* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blueLight: #192ea5;
  --blue: #3e4685;
  --text1: #343434;
  --text2: #fdfdfd;
  --bg1: #fafafa;
  --mainBG: #ffffff;
  --card2: #fff;
}
@font-face {
  font-family: "Suisse Int'l";
  src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot");
  src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.svg#Suisse Int'l")
      format("svg");
}

@font-face {
  font-family: "Suisse Intl Light";
  src: url("https://d33wubrfki0l68.cloudfront.net/87565495e16c505216fe3004e633b4b87f3a5c05/0cff4/static/media/suisseintl-light.9be8b893.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Suisse Int'l", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f8fd;
  color: var(--text1);
  padding-top: 20px;
}
header,
main,
nav,
article,
aside,
section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header {
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  z-index: 90;
}
main {
  flex-direction: column;
  align-items: flex-end;
}

body > .wrapper {
  display: flex;
  min-height: 100%;
  width: 90vw;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  padding: 30px;

  border-radius: 10px;
  background-color: var(--mainBG);
  box-shadow: 0px 9px 19px 5px rgb(194 204 226 / 40%);
}

/* ---------------HEADER NAV Section------------------ */
.burger-btn {
  background-color: var(--mainBG);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url(../../assets/img/burger.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  z-index: 91;
  position: absolute;
}
.burger-btn.active {
  background-image: url(../../assets/img/close.png);
}

header.header {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 25vw;
}
header > .wrapper {
  width: 95%;
}
.responsive-sidebar {
  display: none;
  width: 45vw !important;
}
.sidebar.active {
  display: flex !important;
}
.sidebar {
  height: 100%;
  background-color: var(--mainBG);
}
.appLogo {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--text1);
}
.appLogo img {
  width: 70px;
  margin-right: 0.9em;
}
.appLogo h1 {
  font-size: 1.3em;
}

.user_profile {
  margin: 2em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 1.1em;
}
.user_profile .prof_pic {
  border: solid 3px var(--text1);
  border-radius: 50%;
  height: auto;
  width: 100px;
  background-color: var(--text1);
  margin: auto;
}
.user_profile p {
  font-size: 1.2em;
  font-weight: 500;
}
.user_profile > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.books_count {
  width: 50px;
}
.user_profile > div p {
  margin: 0;
}

.user_data ul {
  border-top: 1px solid var(--text1);
}
.user_data li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--text1);
}

.user_data li > div > img {
  height: 40px;
  margin-right: 20px;
}
.user_data li p {
  padding-left: 10px;
  margin: 0;
}
.user_data li > div {
  display: flex;
  align-items: center;
}
.user_data li a {
  height: 100%;
  color: var(--text1);
}
.prof_action {
  border-left: 1px solid var(--text1);
}
.prof_btn {
  background-image: url("../../assets/img/delete.png");
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-end;
  margin-left: 10px;
}
.prof_btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.setting {
  background-image: url("../../assets/img/setting.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-self: flex-end;
  margin-top: auto;
}
.setting:hover {
  cursor: pointer;
}

/* -----------------END SECTION----------------------- */

/* ---------------FLOATING BTN Section------------------ */
.float_container {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
}
.floating_btn {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  background-image: url("../../assets/img/plus.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.floating_btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 20px 5px rgb(0 0 0 / 10%);
}
/* -----------------END SECTION----------------------- */

/* ---------------FLOATING FORM Section------------------ */
.form_container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.144);
  padding-bottom: 20px;
  display: none;
  align-items: center;
  z-index: 99;
  justify-content: center;
}
.form_section {
  display: flex;
  align-items: stretch;
  flex-grow: 0;
}
.form_section > h2 {
  text-align: center;
  font-size: 1.3em;
}
.form_section .input {
  display: flex;
  flex-direction: column;
}
.form_section .input input {
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 5px;
  border: 1px solid #c0bebe;
}
.form_section .inputBtn {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_section {
  display: none;
}
.edit_section {
  display: none;
}
.setting_section {
  display: none;
}

#remove-all-book {
  margin-bottom: 20px;
}
/* -----------------END SECTION----------------------- */

/* ---------------MAIN Section------------------ */
.wrapper main {
  margin-left: 25vw;
}

main > .wrapper {
  display: flex;
  width: 98%;
  flex-direction: row;
  gap: 1em 2em;
  align-items: stretch;
  flex-wrap: wrap;
}
.main-header {
  padding: 20px 30px;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--mainBG);
}
.main-header > h1 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.message_container {
  display: none;
  align-items: stretch;
}
.message {
  padding: 30px 30px;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.alert {
  margin: 0;
}

/* -----------------END SECTION----------------------- */

/* ---------------SEARCH Section------------------ */
.search-section {
  padding: 1.2em 2em;
  flex-basis: 100%;
  align-items: stretch;
  justify-content: center;
  background-color: var(--blue);
}
.search {
  width: 100%;
  height: 2.7em;
  background: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 60px;
}

.search .icon {
  top: 0;
  left: 0;
  width: 2.7em;
  height: 2.7em;
  display: flex;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  background: #fff;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
}

.search .icon:before {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #287dfc;
  transform: translate(-4px, -4px);
}

.search .icon:after {
  content: "";
  width: 0.17em;
  height: 0.8em;
  position: absolute;
  background: #287dfc;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  left: 50px;
  width: 100%;
  height: 2.7em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search .input input {
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  padding: 10px 0;
  position: absolute;
}

/* -----------------END SECTION----------------------- */

/* ---------------LIST Section------------------ */

.list-section {
  flex-direction: row;
  align-items: stretch;
  gap: 30px;
}

.book_list_container {
  padding: 0;
  flex-direction: column;
  min-height: 65vh;
  flex-basis: 50%;
  flex: 1;
  align-items: stretch;
  gap: 1em 1em;
  justify-content: center;
}
.book_list_container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--bg1);
  padding: 1em;
  border-radius: inherit;
  gap: 20px;
}
.book_list_container .heading > h3 {
  font-size: 1.2em;
}
.book_list_container .heading > img {
  height: 2.3em;
}
.book_list {
  flex: 1;
  flex-basis: 100%;
  height: 82%;
  border-top: 1px solid var(--text1);
  padding-top: 1em;
  border: 1px solid #c0bebe;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  background-color: #f2f8fd;
}
.completed {
  flex-basis: 50%;
  flex: 1;
  border: 1px solid #e7e7e7;
}
.empty-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c7c7c7;
  font-size: 1.3em;
}
/* -----------------END SECTION----------------------- */

/* ---------------BOOK LIS Section------------------ */
.book_item {
  padding: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1.3em;
  gap: 1.5em;
  border: 1px solid #c0bebe;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
  border-radius: 10px;
  background-color: var(--mainBG);
}
.book_item > .poto {
  /* flex: 1; */
  height: 7em;
}
.poto img {
  height: 100%;
}
.book_detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: wrap;
  width: 100%;
}
.book_detail > hr {
  margin: 0;
  margin-bottom: 0.6em;
}
.book_detail > h3 {
  font-weight: bold;
  font-size: 1em;
  display: inline;
  margin-bottom: 0.6em;
}
.book_detail > p {
  font-size: 0.81em;
  display: inline;
}
.action {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.read-button {
  background-image: url("../../assets/img/read.png");
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.btn:hover {
  cursor: pointer;
}
.unread-button {
  background-image: url("../../assets/img/unread.png");
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.delete-button {
  background-image: url("../../assets/img/delete.png");
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.edit-button {
  background-image: url("../../assets/img/edit.png");
  width: 35px;
  height: 35px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
/* -----------------END SECTION----------------------- */

/* -----------------RESPONSIVE----------------------- */

/* @media screen and (min-width: 1500px) {
  body {
    font-size: 1.7rem;
  }
  .btn {
    padding: 0.7em 1em;
  }
  .container {
    width: 70vw;
    max-width: none;
  }
  .heading .headingImg {
    width: 30vw;
  }
  #section2 .card {
    padding: 2em 1.7em;
    width: 10vw !important;
  }
  #section5 .sectionCards .pricing {
    width: fit-content;
    padding: 3em 2.5em;
  }
  .profile {
    padding: 3em 2em;
  }
} */
@media screen and (max-width: 1300px) {
  body > .wrapper {
    width: 95vw;
  }
  header.header {
    width: 30vw;
  }
  .wrapper main {
    margin-left: 30vw;
  }
  .container {
    align-items: normal;
  }
  .row {
    justify-content: center;
  }
  .gambar {
    display: none;
  }
  .contents {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    width: 90vw;
  }
  .profSection {
    max-width: 80vw;
  }
  body > .wrapper {
    width: 95vw;
  }
  header.header {
    width: 35vw;
  }
  .wrapper main {
    margin-left: 35vw;
  }
}
@media screen and (max-width: 980px) {
  .header {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .burger-btn {
    display: flex;
  }
  .sidebar {
    display: none;
    width: 60vw !important;
  }
  .wrapper main {
    margin-left: 0;
  }
}
@media screen and (max-width: 821px) {
  .book_list_container {
    flex-basis: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 770px) {
  body {
    font-size: 0.85rem;
  }
  .sidebar {
    width: 60vw !important;
  }
}
@media screen and (max-width: 478px) {
  body > .wrapper {
    width: 100%;
  }
  .sidebar {
    width: 87vw !important;
  }
}
